.board{
    width: 50%;
    min-height: 60vh;
    background: blue;
    display: flex;
    
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    
}
