.board{
    width: 50%;
    height: auto;
    background: blue;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;    
}
